main {
  display: grid;
  grid-template-columns: 70rem;
  grid-template-rows: minmax(5rem, auto) 29rem minmax(5rem, auto) auto;
  grid-gap: 1rem;

  // Main parts
  @import "./hangman";
  @import "./info";
  @import "./secretword";
  @import "./keyboard";
}
